<li class="note">
  <div class="noteBox">
    <label>
      <i class="checkState">Pending</i>
      <input class="checkNote" type="checkbox">
      <span class="checkNoteBox"></span>
    </label>
    <button class="deleteNote">&times</button>
  </div>
  <h3 class="noteHeader">{{this.header}}</h3>
  <p class="noteDescription">{{this.description}}</p>
</li>
